<%- include layout.ejs %>


	<div class="jumbotron">
		<h1 class="display-3">Hello, World!</h1>
		<p class="lead">欢迎来到小向的博客，嗯嗯</p>
		<hr class="my-4">
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="/login">登录</a>
			<a class="btn btn-lg" href="/reg">注册</a>
		</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4">
				<h2>哈哈</h2>
				<p>这是一个测试啦啦啦啦啦啦</p>
			</div>
			<div class="col-4">
				<h2>哈哈</h2>
				<p>这是一个测试啦啦啦啦啦啦</p>
			</div>
			<div class="col-4">
				<h2>哈哈</h2>
				<p>这是一个测试啦啦啦啦啦啦</p>
			</div>
		</div>
	</div>

<%- include footer.ejs %>	